{:paths ["src"]

 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        clj-http/clj-http {:mvn/version "3.13.0"}
        hickory/hickory {:mvn/version "0.7.1"}
        cheshire/cheshire {:mvn/version "5.13.0"}
        hellonico/secrets {:git/url "https://github.com/hellonico/secrets.git"
                           :git/sha "d73f472432abcc73b58034f90404d09b212c486f"}}

 :aliases
 {:dev {:extra-paths ["test"]
        :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}}}}}
