# Email settings - DO NOT COMMIT
email-settings.edn

# Secrets
secrets.edn
*.edn.enc

# Clojure
.cpcache/
.nrepl-port
.rebel_readline_history
target/
pom.xml
pom.xml.asc
*.jar
*.class

# macOS
.DS_Store

# IDE
.idea/
*.iml
.vscode/
