{:paths ["src"]

 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        cheshire/cheshire {:mvn/version "5.11.0"}
        hellonico/secrets {:git/url "https://github.com/hellonico/secrets.git"
                           :git/sha "a9bbf5ab13fc5df2ae6e20a586b14a5476eb945c"}}

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}}}}}
